/* Reseteo de margen de toda la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Tamaño fondo de encabezado */

.img_enc{
  width: 1345px;
  height: 400px;
  border-radius: 5px 5px 5px 5px;

}

/* Tamaño del logo */
figure{
  margin-top: -400px;
  margin-left: 10px;
}
/* Efecto zoom */
.log_zo{
  width: 300px;
  height: 300px;
}

/* Tamaño del logo ZOOM*/
.log_zo:hover{
  width: 302px;
  height: 302px;
}

/* Menú del encabezado */
div#MenuC{
  width: 100px;
  height: 0px;
  margin-left: 750px;
  display: flex;
  justify-content: center;
}

/* Menú del encabezado "MENÚ"*/
.m{
  margin: 0px;
  font-size: 200px;
  color: PINK;
  font-style: oblique;
  font-family: inherit;
  margin-top: -300px;
}

/* Menú del encabezado */
div#Promo{
  width: 150px;
  height: 40px;
  margin-top: -2px;
  margin-left: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Menú del encabezado */
div#Gal{
  width: 145px;
  height: 20px;
  margin-top: -40px;
  margin-left: 925px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Menú del encabezado */
.encM{
  margin: 0px;
  font-size: 30px;
  color: white;
  font-style: oblique;
  font-family: inherit;
}
/* Menú del encabezado */
.encM:hover{
  font-size: 40px;
  color: pink;
} /* Menú del encabezado */

/* ************************ */
/*         **********      */

/*Diseño de tabla Platilos fuertes*/
.tab_PF, .th_1, .td_1{
  border: -1px;
  border-collapse: collapse;
  color: white;
  margin-left: -50px;
  margin-top: 150px;
  text-align: center;
  height: 15px;
}
/*Diseño de tabla Platilos fuertes*/
.th_1, .td_1{
  padding: -50px;
}
/*Diseño de tabla Platilos fuertes*/
.CapP{
  color: #6fcee8;
  margin-left: 250px;
}
/*Fondo de platillos fuertes*/
.Ft1{
  width: 1340px;
  height: 880px;
  margin-top: 55px;
  margin-left: 5px;
}
/* ************************ */
/*         **********      */

/*Diseño de tabla Antojitos*/
.tab_Ant, .th_2, .td_2{
  border: -1px;
  border-collapse: collapse;
  color: white;
  margin-left: 180px;
  margin-top: -500px;
  text-align: center;
}
/*Diseño de tabla Antojitos*/
.th_2, .td_2{
  padding: 0px;
}
/*Diseño de tabla Antojitos*/
.CapAnt{
  color: #d40c42;
  margin-left: 100px;
}
/*Fondo de Antojitos*/
.Ft2{
  width: 1340px;
  height: 600px;
  margin-left: 5px;
  margin-top: -10000px;
}
/* ************************ */
/*         **********      */

/*Diseño de tabla Bebidas*/
.tab_Beb, .th_3, .td_3{
  border: -1px;
  border-collapse: collapse;
  margin-top: -650px;
  color: black;
  margin-left:50px;
  text-align: center;
}
/*Diseño de tabla Bebidas*/
.th_3, .td_3{
  padding: 10px;
}
/*Diseño de tabla Bebidas*/
.CapB{
  color: #117d09;
}
/*Diseño de tabla Bebidas*/
.Ft3{
  width: 599px;
  height: 700px;
  margin-top: 200px;
  margin-left: 50px;
}
/* ************************ */
/*         **********      */

/*Diseño de tabla Postres*/
.tab_Post, .th_4, .td_4{
  border: -1px;
  border-collapse: collapse;
  margin-top: 500px;
  color: black;
  margin-left: 600px;
  text-align: center;
}
/*Diseño de tabla Postres*/
.th_4, .td_4{
  padding: 10px;
}
/*Diseño de tabla Postres*/
.CapP{
  margin-top: -950px;
  color: #dc6fe8;
  margin-left: 125px;
}
/*Diseño de tabla Postres*/
.Ft4{
  width: 599px;
  height: 700px;
  margin-top: -506px;
  margin-left: 50px;
}
/* ************************ */
/*         **********      */

/* Imagen de fondo de datos*/
.fondD{
  width: 1340px;
  height: 285px;
  margin-top: -880px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 5px;
}

/* Posición del texto datos */
.cuadro_txtD{
  width: 10px;
  height: 10px;
  margin-left: 0px;
  margin-top: -230px;
}

/* Imagen de ubicación */
.img_U{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

/* DIRECCIÓN */
.direc{
  color: white;
  width: 389px;
  height: 0px;
  font-size: 20px;
  margin-left: 100px;
  margin-top: -40px;
}

/* Imagen de whatss */
.img_W{
  width: 35px;
  height: 35px;
  margin-top: -5px;
  margin-left: 940px;
}

/* Contacto */
.cont{
  color: white;
  width: 150px;
  height: 0px;
  font-size: 20px;
  margin-left: 1000px;
  margin-top: -30px;
}

/* Nombre de la alumna */
.nomb{
  color: white;
  width: 260px;
  height: 0px;
  font-size: 25px;
  margin-left: 550px;
  margin-top: 50px;
}

/* Materia */
.mat{
  color: white;
  width: 200px;
  height: 0px;
  font-size: 25px;
  margin-left: 550px;
  margin-top: -115px;
}

/* Imagen de violin */
.img_V{
  width: 140px;
  height: 140px;
  margin-top: 51px;
  margin-left: 250px;
}

/* Imagen de trompeta */
.img_T{
  width: 137px;
  height: 137px;
  margin-top: -800px;
  margin-left: 950px;
}
